@font-face {
    font-family: letterFont;
    src: url(../fonts/ufonts.com_pt-eye-chart.ttf);
}

.letter {
    font-family: letterFont, serif;
    font-weight: bold;
}

body {
    text-align: center;
}
